div.jumbotron {
    background-image: url(../images/rain.jpg);
    background-size: cover;
    padding: 2em;
    color: white;
    text-shadow: 2px 2px 10px black,
        -2px -2px 10px black,
        -2px 2px 10px black,
        2px -2px 10px black;
    color: whitesmoke;
}

.collapse {
    display: none;
}


.collapse-show {
    display: block;
}

.result-shell {
    cursor: pointer;
}

footer {
    background-image: url(../images/rain.jpg);
    background-size: cover;
    padding: 2em;
}

.result-shell {
    border: 2px solid black;
    border-radius: 3px;
}

canvas { /* weather icons */
    display: block;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}


.predictionButtons:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 206)
}

.autoComplete {
    background-color: rgb(241, 241, 241);
}

#locationInput {
    width: 100%
}

#keyword {
    width: 100%;
}

.mapHidden {
    display: none;
}