div.jumbotron {
    background-image: url(../images/rain.jpg);
    background-size: cover;
    padding: 2em;
    color: white;
    text-shadow: 2px 2px 4px black;
    color: darkgree
}

div.collapse {
    display: none;
}


div.collapse-show {
    display: block;
}

footer {
    background-image: url(../images/rain.jpg);
    background-size: cover;
    padding: 2em;
}

.result-shell {
    border: 2px solid black;
    border-radius: 3px;
}

canvas { /* weather icons */
    display: block;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
h5 {
    text-align:center;
}