div.jumbotron {
    background-image: url(../images/rain.jpg);
    background-size: cover;
    padding: 2em;
    color: white;
    text-shadow: 2px 2px 10px black,
        -2px -2px 10px black,
        -2px 2px 10px black,
        2px -2px 10px black;
    color: whitesmoke;
}

.collapse {
    display: none;
}


.collapse-show {
    display: block;
}

.result-shell {
    cursor: pointer;
}

footer {
    background-image: url(../images/rain.jpg);
    background-size: cover;
    padding: 2em;
}

.result-shell {
    border: 2px solid black;
    border-radius: 3px;
}

canvas { /* weather icons */
    display: block;
    margin: 0 auto;
}

.predictionButtons {
  
}

.predictionButtons:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 206)
}

.autoComplete {
    background-color: rgb(241, 241, 241);
}

#locationInput {
    width: 100%
}

#keyword {
    width: 100%;
}

/* #results-frame{
    margin: auto;
    margin-left:300px;
    margin-top:-300px;
} */

#results-buttons-up {
    height: 45px;
    width: 100%;
    float: left;
}

#results-buttons-down {
    height: 45px;
    width: 100%;
    float: left;
}

#results-page {
    float: left;
    width: 100%;
}

#load {
    position: absolute;
    display: none;
    height: 40px;
    width: 5%;
    right: 5%;
    top: -0.1%;
}

#page-search {
    margin-bottom: 1%;
    display: none;
    width: 100%;
}
  
h5{
    text-align:center;
}

div.result-interior {
    font-size: 0.8em;
    font-style: italic;
    border-top: solid 1px black;
    padding: 0.5em;
}

#no-results {
    display: none;
    color: darkred;
}

#req {
    font-size: 9pt;
    color: darkred;
}

.mapHidden {
    display: none;
    width: 100%;
}